<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>S. Daniel</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="mx-auto mt-5">
                <div class="row justify-content-center mt-5">
                    <img src="/images/lion-head.jpg" alt="lion" />
                </div>
                <div class="row justify-content-center mt-4">
                    <a href="https://www.facebook.com/daniel9292">
                        <img class="img-fluid mr-4" width="20px" src="/images/facebook.svg" alt="facebook" />
                    </a>
                    <a href="https://github.com/Sdantevie">
                        <img class="img-fluid mr-4" width="20px" src="/images/github.svg" alt="github" />
                    </a>
                    <a href="https://www.instagram.com/_deemogul">
                        <img class="img-fluid mr-4" width="20px" src="/images/instagram.svg" alt="instagram" />
                    </a>
                    <a href="https://www.twitter.com/_dEeMogul">
                        <img class="img-fluid mr-4" width="20px" src="/images/twitter.svg" alt="twitter" />
                    </a>
                    <a href="https://medium.com/@dstevie9292">
                        <img class="img-fluid mr-4" width="20px" src="/images/medium.svg" alt="medium" />
                    </a>
                </div>
            </div>
        </div>
        <!-- <footer class="mt-5">

            <div class="footer-copyright text-center py-3">© 2019
                <a href="http://deemogul.com">S. Daniel</a>
            </div>

        </footer> -->
    </div>
</body>

</html>